---
const asciiArt = `__     __   ______   __       ______   ______   __    __   ______     
/\\ \\  _ \\ \\ /\\  ___\\ /\\ \\     /\\  ___\\ /\\  __ \\ /\\ "-./  \\ /\\  ___\\    
\\ \\ \\/ ".\\ \\\\ \\  __\\ \\ \\ \\____\\ \\ \\____\\ \\ \\/\\ \\\\ \\ \\-./\\ \\\\ \\  __\\    
\\ \\__/".~\\_\\\\ \\_____\\\\ \\_____\\\\ \\_____\\\\ \\_____\\\\ \\_\\ \\ \\_\\\\ \\_____\\  
\\/_/   \\/_/ \\/_____/ \\/_____/ \\/_____/ \\/_____/ \\/_/  \\/_/ \\/_____/  `;
---

<div
  class="mb-4 whitespace-pre text-right text-[0.55rem] md:text-xs"
  style="font-variant-ligatures: none;"
>
  <span
    class="inline-block bg-gradient-to-br from-whispering-rose via-golden-honeydew to-peach-sorbet bg-clip-text text-transparent"
  >
    {asciiArt}
  </span>
</div>
